.cell {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--mgc-font-size-xxxl);
  background-color: var(--mgc-nearly-black);
}

@media screen and (width <= 650px) {

  .cell {
    height: 150px;
  }

}

@media screen and (width <= 480px) {

  .cell {
    height: 120px;
  }

}

@media screen and (width <= 390px) {

  .cell {
    height: 100px;
  }

}