.game-div {
    width: 30%;
    min-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--mgc-radius-m);
    background-color: var(--mgc-black);
}

.game-title {
    color: var(--mgc-orange);
    font-family: var(--mgc-funny-text);
    font-size: var(--mgc-font-size-xl);
}

.game-image {
    font-size: var(--mgc-font-size-xxxl);
    transition: all 0.6s;
    cursor: pointer;
}

.game-image:hover {
    transform: scale(1.2);
}